# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ======================
# Environment variables
# ======================
.env
.env.*
!.env.example

# ======================
# Logs
# ======================
*.log
logs/

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.pytest_cache/
.mypy_cache/

# ======================
# Node / Frontend
# ======================
node_modules/
dist/
build/

# ======================
# Docker
# ======================
*.tar
docker-compose.override.yml

# ======================
# Terraform (CRITICAL)
# ======================
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfstate
terraform.tfstate.backup

# ======================
# Kubernetes temp files
# ======================
*.kubeconfig

# ======================
# Secrets & Artifacts (CRITICAL)
# ======================
*.pem
model_training/saved_model/
infra/ansible/inventory.ini
