- name: Clone the repository
  git:
    repo: "{{ repo_url }}"
    dest: /home/ubuntu/ai-fake-news-detector
    force: yes

- name: Create host model directory
  file:
    path: /mnt/data/model
    state: directory
    mode: '0777'
    owner: ubuntu
    group: ubuntu
  become: true

- name: Copy Docker Compose file
  copy:
    src: ../../../../docker-compose.yml
    dest: /home/ubuntu/ai-fake-news-detector/docker-compose.yml

- name: Start Application with Docker Compose
  community.docker.docker_compose_v2:
    project_src: /home/ubuntu/ai-fake-news-detector
    state: present
    build: always
    pull: always
  environment:
    MONGODB_URI: "{{ mongodb_uri | default('mongodb://fake-news-mongodb:27017/fake_news_db') }}"
    AWS_REGION: "{{ aws_region | default('ap-south-1') }}"
    S3_BUCKET: "{{ model_bucket }}"
    S3_MODEL_KEY: "models/bert-v1"
    AWS_ACCESS_KEY_ID: "{{ lookup('env', 'AWS_ACCESS_KEY_ID') | default('') }}"
    AWS_SECRET_ACCESS_KEY: "{{ lookup('env', 'AWS_SECRET_ACCESS_KEY') | default('') }}"
    VITE_API_URL: "http://35.154.116.162:8000"
    CORS_ORIGINS: "http://35.154.116.162:3000,http://localhost:3000"
