name: Deploy to EC2

on:
  workflow_run:
    workflows: ["Update Kubernetes Manifests"]
    types:
      - completed
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ai-fake-news-detector
            git pull
            # Apply changes (Namespace, ConfigMaps, Secrets, Deployments, Services)
            kubectl apply -f k8s/namespace.yaml
            kubectl apply -f k8s/namespaces/
            kubectl apply -R -f k8s/
            
            # Restart deployments to pull new images (since we use 'Always' policy now)
            kubectl rollout restart deployment backend -n fake-news-app
            kubectl rollout restart deployment frontend -n fake-news-app
